/* https://codepen.io/chrismabry/pen/ZbjZEj */

.is_animating {
	animation: heart-burst 0.8s steps(28) 1;
	animation-fill-mode: forwards;
}

@keyframes heart-burst {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}
